body {
	padding: 0px;
	margin: 0px;
	height: 690px;
}

section {
	height: 100%;
}


.h1-div h1 {
	text-shadow: 1px 1px 1px rgb(254, 140, 234);
	color: black;
	font-family: 'Audiowide', cursive;
	letter-spacing: 1px;
	border-radius: 2px;
}

.h1-div {
	z-index: 3;
	position: relative;
	left: 230px;
	height: 130px;
	width: 185px;
	border: 1px solid black;
	border-radius: 9px;
}

.h1-border {
	margin: 0 0 0 5px;
	width: 130px;	
	height: 130px;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-radius: 10px;
}

#recipe-btn {
	font-family: 'Audiowide', cursive;
	font-size: 13px;
	color: black;
	background-color: rgb(254, 140, 234);
	border: 1px solid black;
	border-radius: 100px;
}

.name-video {
	z-index: 2;
	position: relative;
	left: 240px;
	font-family: 'Audiowide', cursive;
	width: 205px;
	height: 100%;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
}

.name-div {
	text-shadow: 1px 1px 1px rgb(254, 140, 234);
	width: 140%;
}

.name-div h2 {
	font-weight: bold;
	word-break: break-word;
}

.instructions {
	position: relative;
	top: 10px;
	right: 67px;
	height: 60%;
	width: 129%;
	z-index: 1;
}

#first-color {
	width: 33%;
	height: 100%;
	background-color: white;
}

#first-color1 {
	height: 70%;
	width: 61%;
	border: 2px solid black;	
	border-right: none;
	border-radius: 7px;
	background-color: rgb(219, 83, 168);
}

#first-color1 img {
	width: 100%;
}

#second-color {
	flex-direction: row;
	width: 214px;
	height: 120%;
}

#second-color h2 {
	font-family: 'Audiowide', cursive;
}

#second-color1 {
	height: 100%;
	width: 120%;
	background-color: white;
	border: 2px solid black;	
	border-right: none;
	border-radius: 7px;
	border-left: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	overflow-y: scroll;
}

#ingredients {
	width: 90%;
}

#second-color2 {
	overflow-y: scroll;
	height: 120%;
	width: 40%;
	border: 2px solid black;	
	border-left: none;
	border-radius: 7px;
	background-color: rgb(83, 219, 134);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

@media screen and (max-width: 1266px) {

	body {
		height: auto;
	}

	section {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.h1-div {
		position: unset;
		align-self: center;
		height: 130px;
		width: 185px;
		border: 1px solid black;
		border-radius: 9px;
	}

	.name-div {
		text-shadow: 1px 1px 1px rgb(254, 140, 234);
		width: 70%;
		height: 150px;
	}

	.name-video {
		position: unset;
		font-family: 'Audiowide', cursive;
		width: 100%;		
		height: 150px;
		align-self: center;
	}

	.instructions {
		flex-direction: column;
		justify-content: space-evenly;
		position: unset;
		height: 60%;
		width: 100%;
	}

	#first-color, #first-color1 {
		align-self: center;
		width: 219px;
		height: 100%;
		background-color: white;
	}

	#second-color {
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	#second-color1 {
		margin-bottom: 20px;
		border:  none;
		align-self: center;
		height: 100%;
		width: 70%;
		background-color: white;	
		overflow-y: scroll;
	}

	#second-color2 {
		align-self: center;
		overflow-y: scroll;
		height: 300px;
		width: 70%;
		border: 2px solid black;	
		border-radius: 7px;
		background-color: rgb(83, 219, 134);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

}

@media screen and (min-width: 1440px) {
	.name-video {
		width: 230px;
		left: 292px;
	}
}

@media screen and (min-width: 950px) {
	#second-color2 {
		width: 50%;
	}

}



