body {
	padding: 0px;
	margin: 0px;
	height: 690px;
}

main, section {
	height: 100%;
}


.h1-div h1 {
	text-shadow: 1px 1px 1px black;
	color: black;
	font-family: 'Audiowide', cursive;
	letter-spacing: 1px;
	border-radius: 2px;
}

.h1-div {
	z-index: 3;
	position: relative;
	left: 230px;
	height: 130px;
	width: 185px;
	border: 1px solid black;
	border-radius: 9px;
}

.h1-border {
	margin: 0 0 0 5px;
	width: 130px;	
	height: 130px;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-radius: 10px;
}

.recipe-btn {
	font-family: 'Audiowide', cursive;
	font-size: 13px;
	color: black;
	background-color: rgb(254, 140, 234);
	border: 1px solid black;
	border-radius: 100px;
}

.name-video {
	z-index: 2;
	position: relative;
	left: 240px;
	font-family: 'Audiowide', cursive;
	width: 140px;	
	height: 100%;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
}

.name-video h2 {

}

.instructions {
	position: relative;
	top: 10px;
	right: 95px;
	height: 60%;
	z-index: 1;
}

#first-color {
	width: 35%;
	height: 100%;
	background-color: white;
}

#second-color {
	border: 2px solid rgb(254, 140, 234);	
	border-left: none;
	border-radius: 10px;
	width: 65%;
	height: 100%;
	background-color: rgb(83, 219, 134)
}

